<div class="modal-header">
    <h4 class="modal-title">Neues Thema hinzufügen</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    </button>
</div>
<form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Thema</label>
            <input type="text" class="form-control" formControlName="topic" placeholder="Thema hinzufügen" />
        </div>
        <div class="form-group">
            <label for="subtopic">Unterthemen <small>(optional)</small> </label>
            <ul>
                <li *ngFor='let sub of subtopics'>{{ sub }} <div class="input-group-append">
                    <button type="button" class="input-group-btn btn btn-primary" (click)="addSubtopic()"><i
                            class="fa fa-minus"></i></button>
                </div></li>
            </ul>
            <div class="input-group mb-3">
                <input type="text" class="form-control" formControlName="subtopic"
                    placeholder="Unterthema hinzufügen">
                <div class="input-group-append">
                    <button type="button" class="input-group-btn btn btn-primary" (click)="addSubtopic()"><i
                            class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">
            Fertig
        </button>
    </div>
</form>