@import "../../assets/master";
@import "~bootstrap/dist/css/bootstrap.min.css";


footer {
    background-color: $secondary;
    font-size: 14px;
    color: $white;
    padding: 2% 0;
    z-index: -10;
    margin-bottom: 0px;
}