<div class="card shadow main">
    <h1>Quiz</h1>
    <div class="wrap">
        <div class="container-fluid">
            <form [formGroup]="form" (ngSubmit)="submitQuiz()">
                <section id="generalQuestions">
                    <h6>{{ topic?.name }}</h6>
                    <hr>
                    <div class="qContainer" *ngFor="let question of topic?.quiz?.questions; let i = index">
                        <span class="label" id="qid">Frage {{i+1}}: <span
                                class="questionType">{{getQuestionType(question)}}</span></span>
                        <div class="modal-content">
                            <div class="modal-header row">
                                <div class="col-9 my-auto">
                                    {{question?.name}}
                                </div>
                                <div *ngIf="getQuestionType(question) !='Evaluation'"
                                    class="col-3 points my-auto text-right">
                                    <span class="label ml-auto" id="points-accent">Punkte: {{question?.points}}</span>
                                </div>
                            </div>
                            <div id="multipleChoice" *ngIf="getQuestionType(question) == 'Multiple Choice'"
                                class="modal-body">
                                <div *ngIf="question.imgUrl != null" class="row mb-3">
                                    <div class="col-12 my-auto text-center">
                                        <img class="questionImg" [src]="question?.imgUrl">
                                    </div>
                                </div>
                                <div class="quiz" id="quiz" data-toggle="buttons">
                                    <label *ngFor="let answer of question.answers; let i = index"
                                        class="btn btn-lg btn-secondary btn-block">
                                        <input type="checkbox" name="answer" [value]="i"> {{answer}} <span
                                            class="btn-label"><i class="fa fa-chevron-right"></i></span></label>
                                </div>
                            </div>
                            <div id="evaluation" *ngIf="getQuestionType(question) == 'Evaluation'" class="modal-body">
                                <div class="quiz" id="quiz" data-toggle="buttons">
                                    <label *ngFor="let answer of question.answers; let i = index"
                                        class="btn btn-lg btn-secondary btn-block"><span class="btn-label"><i
                                                class="fa fa-chevron-right"></i></span><input type="radio" name="answer"
                                            [value]="i"> {{answer}}</label>
                                </div>
                            </div>
                            <div id="gapText" *ngIf="getQuestionType(question) == 'Lückentext'" class="modal-body">
                                <div *ngFor="let text of question.gapText; let i = index">
                                    <p *ngIf="text.type == 1">{{ text.value }} </p>
                                    <!-- <p class="gap" *ngIf="text.type == 2">{{ text.value }} </p> -->
                                </div>
                            </div>
                            <!-- <div id="evaluation" *ngIf="getQuestionType(question) == 'Evaluation'"
                                class="modal-body">
                                <div class="quiz" id="quiz" data-toggle="buttons">
                                    <div class="slidecontainer">
                                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                                      </div>
                                </div>
                            </div> -->
                            <div id="freeText" *ngIf="getQuestionType(question) == 'Freitext'" class="modal-body">
                                <textarea name="freeTextAnswer" id="freeTextAnswer" class="form-control"
                                    rows="6"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button *ngIf="question.hint != null && question.hint != ''" class="btn btn-primary"
                                    id="hintBtn{{i}}" (click)="showHint(i, question)">Hinweis (-1 Punkt)</button>
                                <div class="mr-auto" id="hint{{i}}"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
    <button class="btn btn-primary" (click)="submitQuiz()">Quiz abgeben <i class="fa fa-check"></i></button>
</div>