@import "../../assets/master";
@import "~bootstrap/dist/css/bootstrap.min.css";

thead {
    background-color: $secondary;
    color: $white;
}

.tquestion {
    text-align: left !important;
}

.tbtn {
    max-width: 70px !important;
    text-align: center !important;
}

.tsmall {
    max-width: 150px;
}

.chart-wrapper {
    width: 100% !important;
    max-width: 600px;
    margin: 0 auto;
}

hr {
    border-top: 1px solid $secondary !important;
    margin-bottom: 40px !important;
}

.card {
    &:hover {
        transform: 0 !important;
    }
}