<div class="card shadow main">
    <h1>{{ topic.name }}</h1>
    <div class="wrap">
        <div class="container-fluid">
            <section id="generalQuestions">
                <h6>Allgemein</h6>
                <hr>
                <div class="modal-dialog" *ngFor="let question of topic.quiz.questions; let i = index">
                    <span class="label" id="qid">Frage {{i+1}}: <span
                            class="questionType">{{getQuestionType(question.type)}}</span></span>
                    <div class="modal-content">
                        <div class="modal-header row">
                            <div class="col-9">
                                <h4>{{question.name}}</h4>
                            </div>
                            <div class="col-3 points my-auto text-right">
                                <span class="label ml-auto" id="points-accent">Punkte: {{question.points}}</span>
                            </div>
                        </div>
                        <div id="singleChoice" *ngIf="question.type == 1" class="modal-body">
                            <div class="quiz" id="quiz" data-toggle="buttons">
                                <label *ngFor="let answer of question.answers; let i = index"
                                    class="btn btn-lg btn-secondary btn-block"><span class="btn-label"><i
                                            class="fa fa-chevron-right"></i></span> <input type="radio" name="answer"
                                        value="{{i}}"> {{answer}}</label>
                            </div>
                        </div>
                        <div id="multipleChoice" *ngIf="question.type == 2" class="modal-body">
                            <div class="quiz" id="quiz" data-toggle="buttons">
                                <label *ngFor="let answer of question.answers; let i = index"
                                    class="btn btn-lg btn-secondary btn-block"><span class="btn-label"><i
                                            class="fa fa-chevron-right"></i></span> <input type="checkbox" name="answer"
                                        value="{{i}}"> {{answer}}</label>
                            </div>
                        </div>
                        <div id="freeText" *ngIf="question.type == 4" class="modal-body">
                            <textarea name="freeTextAnswer" id="freeTextAnswer" class="form-control"
                                rows="6"></textarea>
                        </div>
                        <div class="modal-footer text-muted">
                            <button *ngIf="question.hint != '' " class="btn btn-primary" id="hintBtn{{i}}"
                                (click)="showHint(i, question)">Hinweis (-1 Punkt)</button>
                            <div class="mr-auto" id="hint{{i}}"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section *ngFor="let sub of topic.subtopics">
                <h6>{{ sub.name }}</h6>
                <hr>
                <div class="modal-dialog" *ngFor="let question of sub.quiz.questions; let i = index">
                    <span class="label" id="qid">Frage {{i+1}}: <span
                            class="questionType">{{getQuestionType(question.type)}}</span></span>
                    <div class="modal-content">
                        <div class="modal-header row">
                            <div class="col-9">
                                <h4>{{question.name}}</h4>
                            </div>
                            <div class="col-3 points my-auto text-right">
                                <span class="label ml-auto" id="points-accent">Punkte: {{question.points}}</span>
                            </div>
                        </div>
                        <div id="singleChoice" *ngIf="question.type == 1" class="modal-body">
                            <div class="quiz" id="quiz" data-toggle="buttons">
                                <label *ngFor="let answer of question.answers; let i = index"
                                    class="btn btn-lg btn-secondary btn-block"><span class="btn-label"><i
                                            class="fa fa-chevron-right"></i></span> <input type="radio" name="answer"
                                        value="{{i}}"> {{answer}}</label>
                            </div>
                        </div>
                        <div id="multipleChoice" *ngIf="question.type == 2" class="modal-body">
                            <div class="quiz" id="quiz" data-toggle="buttons">
                                <label *ngFor="let answer of question.answers; let i = index"
                                    class="btn btn-lg btn-secondary btn-block"><span class="btn-label"><i
                                            class="fa fa-chevron-right"></i></span> <input type="checkbox" name="answer"
                                        value="{{i}}"> {{answer}}</label>
                            </div>
                        </div>
                        <div id="freeText" *ngIf="question.type == 4" class="modal-body">
                            <textarea name="freeTextAnswer" id="freeTextAnswer" class="form-control"
                                rows="6"></textarea>
                        </div>
                        <div class="modal-footer text-muted">
                            <button *ngIf="question.hint != '' " class="btn btn-primary" id="hintBtn{{i}}"
                                (click)="showHint(i, question)">Hinweis (-1 Punkt)</button>
                            <div class="mr-auto" id="hint{{i}}"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <button class="btn btn-accent">Quiz abgeben <i class="fa fa-check"></i></button>
</div>
<!-- <button (click)="goBack()">go back</button> -->

<!-- <div class="subQuestions" *ngFor="let sub of topic.subtopics">
    <h3>{{ sub.name }} <button title="Einstellungen"><i class="fa fa-cog  fa-spin-hover"></i></button></h3>
    <table class="table">
        <thead class="thead-accent">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fragen</th>
                <th scope="col">Punkte</th>
                <th class="edit-col" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let question of sub.quiz.questions; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ question.name }}</td>
                <td>{{ question.points }}</td>
                <td><button class="btn btn-danger" title="Frage löschen"><i class="fa fa-trash"
                            (click)="deleteQuestion(sub, question)"></i></button></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td><button class="btn btn-primary" title="Frage hinzufügen"
                        (click)="openFormModal(sub.id, 'subtopic')"><i class="fa fa-plus"></i></button></td>
            </tr>
        </tbody>
    </table>
</div> -->