@import "../../../assets/master";
@import "~bootstrap/dist/css/bootstrap.min.css";


.chart-wrapper {
    width: 100% !important;
    max-width: 600px;
    margin: 0 auto;
}

hr {
    border-top: 1px solid $secondary !important;
    margin-bottom: 40px !important;
}

.card {
    &:hover {
        transform: 0 !important;
    }
}