<div class="card shadow ">
    <h1>Ergebnisse</h1>
    <div class="wrap">
        <div class="row my-2">
            <div class="col-lg-6 col-12">
                <h2>Teilnehmer</h2>
            </div>
        </div>
        <hr>
        <div class="table-responsive">
            <table id="users" class="table">
                <thead class="thead-accent">
                    <tr>
                        <th scope="col">#</th>
                        <th class="text-left" scope="col">Email</th>
                        <th class="tsmall" scope="col">Punkte</th>
                        <th class="tsmall" scope="col">Abgegeben</th>
                        <th class="tsmall" scope="col">Bewertet</th>
                        <th class="tbtn"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td class="align-middle text-left">{{ user.user.email }}</td>
                        <td class="align-middle">{{ user.topic.quiz.score }}</td>
                        <td class="align-middle"*ngIf="user.topic.quiz.isSubmitted"><i class="fa fa-check"></i></td>
                        <td class="align-middle"*ngIf="!user.topic.quiz.isSubmitted"><i class="fa fa-times"></i></td>
                        <td class="align-middle"*ngIf="user.topic.quiz.isCorrected"><i class="fa fa-check"></i></td>
                        <td class="align-middle"*ngIf="!user.topic.quiz.isCorrected"><i class="fa fa-times"></i></td>
                        <td class="align-middle tbtn text-center"><button class="btn btn-primary" title="Quiz korrigieren"
                                (click)="setSelectedUser(user.user.uid)"><i class="fa fa-edit"></i></button></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-quiz *ngIf="showQuiz" [userId]="selectedUserId"></app-quiz>
        <div *ngIf="!showQuiz && scores.length > 0" class="row my-3">
            <div class="col-12 my-3">
                <h2>Statistik</h2>
                <hr>
            </div>
            <div class="col-12">
                <div class="chart-wrapper">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                        [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend"
                        [colors]="chartColors">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>