@import "../../assets/master";
@import "~bootstrap/dist/css/bootstrap.min.css";

.card-signin {
    max-width: 450px;
    margin: 0 auto;

    input {
        height: 45px;
    }
}

h1 {
    font-size: 28px !important;
    margin-bottom: 0px;
    padding: 3% 1%;
}
