<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Squizzel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/admin/topics" [routerLinkActive]="['active']">Admin Dashboard<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="/user/topics">User Dashboard</a>
            <!-- <div class="progress mr-sm-2" style="width: 25em; margin-top:15px; height: 10px; float: right" >
                <div class="progress-bar"  style="width: 30%;" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div> -->
        </div>
        <div class="navbar-nav ml-auto">
            <!-- <a class="nav-item nav-link">Logout</a> -->
        </div>
    </div>
</nav>
