@import "../../assets/master";
@import "~bootstrap/dist/css/bootstrap.min.css";

.navbar {
    background-color: $secondary !important;
    color: $white !important;
}

.navbar-brand {
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
}
