<div class="card shadow main">
    <h1>Themen</h1>
    <div class="wrap">
        <div class="card-deck">
            <div class="cards" *ngFor="let topic of topics">
                <div class="card shadow" routerLink="/admin/topic/{{topic.id}}">
                    <button class="clickable close-icon my-2" data-effect="fadeOut" (click)="deleteTopic(topic.id)"><i
                            class="fa fa-times"></i></button>
                    <div class="card-img d-flex align-items-center justify-content-center">
                        {{ topic.name }}
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card shadow addTopic" title="Thema hinzufügen" (click)="openCreateTopic()">
                    <div class="card-img d-flex align-items-center justify-content-center">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>