<div class="wrap">
    <h1>Quiz erstellen<button class="btn btn-accent export">Export Quiz</button></h1>
    <h2>{{ topic.name }} <button title="Einstellungen"><i class="fa fa-cog fa-spin-hover"></i></button></h2>
    <table id="questions" class="table">
        <thead class="thead-accent">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fragen</th>
                <th scope="col">Punkte</th>
                <th class="edit-col" scope="col"><button class="btn btn-accent export">Live</button></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let question of topic.quiz.questions; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ question.name }}</td>
                <td>{{ question.points }}</td>
                <td><button class="btn btn-danger" title="Frage löschen"><i class="fa fa-trash"
                            (click)="deleteQuestion(topic, question)"></i></button></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td><button class="btn btn-primary" title="Frage hinzufügen"
                        (click)="openFormModal(topic.id, 'topic')"><i class="fa fa-plus"></i></button></td>
            </tr>
        </tbody>
    </table>
    <div class="subQuestions" *ngFor="let sub of topic.subtopics">
        <h3>{{ sub.name }} <button title="Einstellungen"><i class="fa fa-cog  fa-spin-hover"></i></button></h3>
        <table class="table">
            <thead class="thead-accent">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fragen</th>
                    <th scope="col">Punkte</th>
                    <th class="edit-col" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of sub.quiz.questions; let i = index">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ question.name }}</td>
                    <td><button class="btn btn-danger" title="Frage löschen"><i class="fa fa-trash"
                                (click)="deleteQuestion(sub, question)"></i></button></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-primary" title="Frage hinzufügen"
                            (click)="openFormModal(sub.id, 'subtopic')"><i class="fa fa-plus"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <button (click)="goBack()">go back</button> -->