<div class="card-deck">
    <div class="card shadow">
        <div class="card-img d-flex align-items-center justify-content-center">
            <i class="fa fa-connectdevelop"></i>
        </div>
        <div class="card-body">
            <h5 class="card-title">Theme</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content.
                This card has even longer content than the first to show that equal height action.</p>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-img d-flex align-items-center justify-content-center">
            <i class="fa fa-connectdevelop"></i>
        </div>
        <div class="card-body">
            <h5 class="card-title">Theme</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content.
                This card has even longer content than the first to show that equal height action.</p>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-img d-flex align-items-center justify-content-center">
            <i class="fa fa-connectdevelop"></i>
        </div>
        <div class="card-body">
            <h5 class="card-title">Theme</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content.
                This card has even longer content than the first to show that equal height action.</p>
        </div>
    </div>
</div>
<a class="float" role="button">
    <i class="fa fa-plus my-float" (click)="openFormModal()"></i>
</a>