<div class="modal-header">
    <h4 class="modal-title">Frage hinzufügen</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        x</button>
</div>
<form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="modal-body">
        <div class="wrap">
            <div class="form-group">
                <label for="name">Frageart</label>
                <select id="type" name="type" class="form-control" formControlName="type">
                    <option value="1">Multiple Choice</option>
                    <option value="2">Skala Frage</option>
                    <!-- <option value="3">Bild/Video/Audio Frage - 4 Antworten</option> -->
                    <option value="4">Freitext</option>
                </select>
            </div>
            <div id="option1" *ngIf="selectedType == 1">
                <div class="form-group">
                    <label for="name">Frage</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Frage hinzufügen" />
                </div>
                <div class="form-group">
                    <label for="answer">Antworten (Korrekte Antworten ankreuzen)</label>
                    <div class="answerList" *ngFor="let answer of answers; let i = index">
                        <label>
                            <input type="checkbox" [value]="answer" (change)="onCheckboxChange($event)" />
                            <span> {{ toLetters(i+1) }}</span> {{ answer }}
                        </label>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="addAnswer"
                            placeholder="Antwort hinzufügen">
                        <div class="input-group-append">
                            <button type="button" class="input-group-btn btn btn-secondary" (click)="addAnswer()"><i
                                    class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="points">Punkte</label>
                    <input type="number" class="form-control" formControlName="points" placeholder="Wert von 1 - 5" />
                </div>
                <div class="form-group">
                    <label for="hint">Hinweis (optional)</label>
                    <input type="text" class="form-control" formControlName="hint" placeholder="Hinweis hinzufügen" />
                </div>
            </div>
            <div id="option2" *ngIf="selectedType == 3"></div>
            <div id="option3" *ngIf="selectedType == 3">
                <img src="" id="tableBanner" />
                <label for="answer">Bild/Video/Audio wählen</label>
                <div class="form-group">
                    <input type="file" id="bannerImg" />
                    <button type="button">Upload</button>
                    <div id="res"></div>
                </div>
                <div class="form-group">
                    <label for="name">Frage</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Frage hinzufügen" />
                </div>
                <div class="form-group">
                    <label for="answer">Antworten</label>
                    <ul *ngIf="answers != null">
                        <li class="answerList" *ngFor='let answer of answers; let i = index'>
                            <span>{{ toLetters(i+1) }}</span> {{ answer }} <div class="input-group-append">
                            </div>
                        </li>
                    </ul>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="addAnswer"
                            placeholder="Antwort hinzufügen">
                        <div class="input-group-append">
                            <button type="button" class="input-group-btn btn btn-secondary" (click)="addAnswer()"><i
                                    class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Korrekte Antwort</label>
                    <select id="correct" name="correct" class="form-control" formControlName="correct">
                        <option *ngFor="let answer of answers; let i = index" [attr.data-index]="i" value="{{ i + 1}}">
                            {{ toLetters(i+1) }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="points">Punkte</label>
                    <input type="number" class="form-control" formControlName="points" placeholder="Wert von 1 - 5" />
                </div>
            </div>
            <div id="option3" *ngIf="selectedType == 4">
                <div class="form-group">
                    <label for="name">Frage</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Frage hinzufügen" />
                </div>
                <div class="form-group">
                    <label for="addAnswer">Beispielantwort</label>
                    <textarea name="addAnswer" class="form-control" rows="10" placeholder="Beispielantwort hinzufügen"
                        formControlName="addAnswer"></textarea>
                </div>
                <div class="form-group">
                    <label for="points">Punkte</label>
                    <input type="number" class="form-control" formControlName="points" placeholder="Wert von 1 - 5" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" (click)="newQuestion()">
            Weitere Frage
        </button>
        <button class="btn btn-primary" type="submit">
            <i class="fa fa-check"></i>
        </button>
    </div>
</form>