$primary: #FC4A1A;
$secondary: #4ABDAC;
$accent: #F7B733;
$dark: #333333;
$white: #ffffff;

// $primary: #F7882F;
// $secondary: #6b7a8f;
// $accent: #F7C331;
// $dark: #333333;
// $light: #36393d;
// $white: #ffffff;