$primary: #F0CB3E;
$secondary: #486494;
$accent: #91BEE4;
$dark: #946F61;
$light: #91BEE4;
$font: hsl(218, 53%, 17%);

$white: #ffffff;

// $primary: #F7882F;
// $secondary: #6b7a8f;
// $accent: #F7C331;
// $dark: #333333;
// $light: #36393d;
// $white: #ffffff;