$primary: #f6ae2d;
$secondary: #33658a;
$accent: #f26419;
$dark: #2f4858;
$light: #86bbd8;
$font: #2f4858;
$white: #ffffff;
$grey: #777;

// $primary: #F7882F;
// $secondary: #6b7a8f;
// $accent: #F7C331;
// $dark: #333333;
// $light: #36393d;
// $white: #ffffff;