/* You can add global styles to this file, and also import other style files */
@import "assets/master";
@import "~bootstrap/dist/css/bootstrap.min.css";


// Navbar
.navbar {
    background-color: $secondary !important;
    color: $white !important;
}


//Buttons
.btn-primary {
    background-color: $primary;
    border: none;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $accent;
    }
}


.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;

    a {
        color: $primary;
        text-decoration: none;
        &:hover {
            color: $accent;
        }
    }

    //Floating Button
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: $primary;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }

        i {
            margin-top: 22px;
            color: $white;
        }
    }

    //Cards
    .card {
        min-width: 300px !important;
        transition: all 0.2s ease-in-out;
        margin: 25px 0;
        .card-img {
            height: 200px;
            background-color: $accent;
            width: 100%;
            i {
                color: $white;
                font-size: 80px;
            }
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    //Modal
    .modal-header {
        background-color: $secondary !important;
        color: $white;
    }


    //Form
    form {
        .search-input {
            border-right: 0;
        }

        .input-group-addon {
            background: white;
            border-left: 0;
            border-right: 0;
        }
    }
}
