/* You can add global styles to this file, and also import other style files */
@import "assets/master";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: $dark;
    color: $font;
}

.side-nav {
    width: 100%;
    margin-bottom: 30px !important;
    color: $dark !important;
}

//Buttons
.btn-primary {
    background-color: $primary !important;
    border: none !important;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $accent !important;
    }
}

.btn-light {
    color: $dark;
    background-color: $light;
    border: none;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $primary;
    }
}

.btn-secondary {
    background-color: $secondary;
    border: none;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $accent;
    }
}

.btn-accent {
    background-color: $accent !important;
    color: $white !important;
    border: none;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $primary !important;
        color: $white;
    }
}

.wrap {
    padding: 2% 4% 4% 4%;
}

.main {
    .card {
        min-width: 250px !important;
        transition: all 0.2s ease-in-out;
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        color: $font;
        cursor: pointer;

        .card-title {
            font-size: 22px;
        }

        .card-img {
            font-family: "Montserrat", sans-serif;
            height: 200px;
            color: $white;
            background-color: $secondary;
            font-size: 32px;
            padding: 0 20px;
            i {
                color: $white;
                font-size: 80px;
            }
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}

section {
    margin-bottom: 100px !important;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: 100vh;
    max-width: 1400px;

    h1 {
        font-size: 40px !important;
        margin-bottom: 20px;
        font-family: "Montserrat", sans-serif;
        color: $white;
        background-color: $primary;
        padding: 2%;
        text-align: center;
    }

    h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 32px;
        font-weight: bold;
        margin: 30px 0 20px 0;
        color: $secondary;

        button {
            border: none !important;
            background-color: transparent;
            i {
                font-size: 24px;
                color: $secondary;
            }
        }
    }

    h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 26px;
        margin: 40px 0 20px 0;
        color: $secondary;

        button {
            border: none !important;
            background-color: transparent;
            i {
                font-size: 20px;
                color: $secondary;
            }
        }
    }

    h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        color: $white;
    }

    h5 {
        font-size: 30px;
        margin: 40px 0 20px 0;
        color: $dark;
        text-align: center;
    }

    h6{
        font-family: "Montserrat", sans-serif;
        font-size: 32px !important;
        color: $primary;
        text-align: center;
    }

    hr {
        border-top: 1px solid $grey !important;
    }

    a {
        color: $primary;
        text-decoration: none;
        &:hover {
            color: $accent;
        }
    }

    //Floating Button
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 25px;
        right: 25px;
        background-color: $primary;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
        transition: all 0.2s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }

        i {
            margin-top: 22px;
            color: $white;
        }
    }

    .table {
        .edit-col {
            width: 200px !important;
        }

        td {
            color: $font;
        }

        .btn {
            float: right;
            width: 70px;
            margin: 0 10px;
        }
    }
}


.cards {
    margin-bottom: 30px;
}

//Modal

.modal-header {
    background-color: $secondary !important;
    color: $white;
    z-index: 100;
}

.modal-body {
    z-index: 100;
}

.close {
    color: $white !important;
    font-size: 16px;
}

//Form
form {
    label {
        font-size: 18px;
    }

    input {
        margin-bottom: 20px;
    }

    .search-input {
        border-right: 0;
    }

    .input-group-addon {
        background: white;
        border-left: 0;
        border-right: 0;
    }
}

.close-icon {
    border: none;
    background-color: $secondary;
    position: absolute;
    right: 10px;
    font-size: 24px;
    color: $white;
    cursor: pointer;
}

.myCustomModalClass .modal-dialog {
    max-width: 600px;
  }

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}
