@import "../../../assets/master";
@import "~bootstrap/dist/css/bootstrap.min.css";
#qid {
    padding: 5px 10px;
    background-color: $secondary;
    color: $white;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

.points {
    padding: 0;
}

.question {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#points-accent {
    font-size: 14px;
    color: $white;
    padding: 0px 10px;
    background-color: $secondary;
}

label.btn {
    font-size: 18px;
    background-color: $dark;
    padding: 18px 60px;
    white-space: normal;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

label.btn:hover {
    background-color: $dark;
}



label.btn-block {
    text-align: left;
    position: relative;
}

#quiz {
    input:checked ~ .btn-label {
        background: $accent !important;
    }
    .btn-label {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        padding: 0 10px;
        background: rgba(0, 0, 0, 0.15);
        height: 100%;
        i {
            margin-top: 24px !important;
        }
        &.correct {
            background: $primary !important;
            font-size: 14px;
        }
        &.checked {
            background: $accent !important;
        }
    }

    label:hover {
        .btn-label {
            background-color: $accent;
            transition: all 0.3s ease-in-out;
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
        }
    }

    #gapText {
        font-size: 18px;
        p {
            float: left;
            display: inline;
            padding-right: 4px;
        }
    }

    #hint {
        color: $primary;
        font-size: 18px;
        font-weight: bold;
    }
}


.hintOpened {
    color: $accent !important
}

.questionType {
    font-weight: 300;
}

.qContainer {
    margin-bottom: 50px !important;
}

.modal-dialog {
    margin-bottom: 0 0 30px 0;
    width: 100% !important;
}

.modal-content {
    margin-top: 10px;
    width: 100% !important;
    border: 0.5px solid $secondary !important;
    border-radius: 0 !important;
}

.modal-header {
    background-color: $secondary !important;
    border-radius: 0 !important;
    margin: 0 !important;
    font-size: 20px;
    font-weight: 600;
}

.modal-body {
    min-height: 200px;
}

.modal-footer {
    font-size: 16px;
    color: $font;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

#score {
    color: $accent;
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

#textQuestion {
    font-size: 18px;
    span {
        color: $primary;
        font-weight: 600;
    }
}

#freeText {
    padding: 20px 20px !important;

}
